# Sphinx 1.7.1 fails with sphinxcontrib-images, force 1.6.7
sphinx==1.6.7

# Sphinx-bootstrap-theme
sphinx-bootstrap-theme

# bibliography related package
sphinxcontrib-bibtex

# extra image options
sphinxcontrib-images

# extra CSS3 image options
sphinxcontrib-css3image

# run console, python code
sphinx-autorun

